* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #1a0000;
    color: #fff;
}

/* HEADER */
header {
    height: 100vh;
    background:
        linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)),
        url("https://images.unsplash.com/photo-1601924582975-7aa7cba06f49");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 120px 20px;
}

header h1 {
    font-size: 3.5rem;
    color: #ffcc00;
}

header p {
    font-size: 1.3rem;
    margin: 20px 0;
}

.btn {
    background: #ffcc00;
    color: #000;
    padding: 15px 35px;
    border-radius: 40px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-secundario {
    margin-bottom: 40px;
    display: inline-block;
}

/* SEÇÕES */
section {
    padding: 80px 20px;
    max-width: 1100px;
    margin: auto;
}

/* PESQUISA */
#pesquisa {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    display: block;
    margin: 0 auto 20px;
}

/* CARDÁPIO */
.itens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.item {
    background: #120000;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

.item h3 {
    color: #ffcc00;
}

.acoes {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.acoes span {
    font-size: 1.2rem;
    min-width: 20px;
    text-align: center;
}

.acoes button {
    background: #ffcc00;
    border: none;
    padding: 8px 16px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}

.acao-pesquisa {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

/* FINALIZAR */
.pedido {
    background: #120000;
    border-radius: 20px;
    padding: 40px;
    margin-top: 60px;
}

.pedido textarea,
.pedido select {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    margin: 15px 0;
}

.taxa {
    color: #ffcc00;
    margin: 10px 0;
}

.btn {
    text-decoration: none;
}
